*.pdf
autocomplete.js
interactions.js
*courscommuns*
*courscommuns.js
*database.js
*medicaments.js
*liste.csv
*pages_downloaded*
*pages_downloaded_sup*
*pages_downloaded_sus*
*dpm.html*
*dpmsup.html*
*dpmsus.html*
*pdfs*
*dcem1*
*dcem2*
*dcem3*
*pcem1*
*pcem2*
*dcem1.js
*dcem1_titres.js
*dcem2.js
*dcem2_titres.js
*dcem3.js
*dcem3_titres.js
*pcem1.js
*pcem1_titres.js
*pcem2.js
*pcem2_titres.js
*arguments.js
*cache.json
*database.js
*database.json
*dict.json
*features.js
*pathologies.json
